h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: large;
}

.center {
    text-align: center;
}

.spelt-wrong {
    text-decoration-line: underline;
    text-decoration-color: red; 
    text-decoration-style: wavy; 
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(146, 166, 245);
}
